header {
    position: relative;
    width: 100%;
    height: 300px; 
    background-image: url('assets/img/fundo.jpg'); 
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.header-title {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.header-title .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: #2c3e50;
}

.header-title p{
    font-size: 14px;
    font-style: italic;
    color: #011325;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 60px;
}

h1 {
    text-align: left;
    color: #9fc6ee;
    font-size: 2em;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

table th {
    background-color: #3498db;
    color: white;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #eaf2f8;
}

.search-container, .filter {
    width: 100%;
    margin-bottom: 20px;
}

#searchInput {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#searchButton, #addProductButton {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#searchButton:hover, #addProductButton:hover {
    background-color: #2980b9;
}

.button-editar, .button-excluir{
    padding: 4px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-editar:hover{
    background-color: #fdfca6;
    color: rgb(75, 71, 71);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-excluir:hover{
    background-color: #f0737b;
    color: rgb(75, 71, 71);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#filterIcon{
    padding: 4px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-filter{
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    width: 400px;
}

.modal-content h3 {
    margin-bottom: 15px;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.modal-content button {
    width: 48%;
    margin: 5px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #2980b9;
}

.modal-content button:last-child {
    background-color: #f44336;
}

.modal-content button:last-child:hover {
    background-color: #e41f2c;
}

.modal-content .button-container {
    display: flex;
    justify-content: space-between; 
    width: 100%;
}

.site-footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    margin-top: 20px;
  }
  
  .site-footer p {
    margin: 0;
    font-size: 14px;
    color: #555;
  }
  

@media (max-width: 768px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        width: 500px;
    }
    header {
        width: 110%;
        height: 200px; 
    }

    .header-title {
        font-size: 1.5em; 
        padding: 0 10px;
    }

    .container {
        padding: 10px;
        margin-left: 10px; 
        max-width: 100%; 
    }

    h1 {
        font-size: 1.5em; 
    }

    #searchInput {
        width: 80%; 
    }

    #searchButton, #addProductButton {
        width: 100%; 
        margin-top: 10px; 
    }

    table {
        font-size: 12px; 
    }

    table th, table td {
        padding: 8px; 
    }

    .modal-content {
        width: 50%; 
        padding: 20px; 
    }

    .modal-content button {
        width: 100%; 
        margin: 10px 0; 
    }

    .modal-content input {
        width: 80%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .modal-content button {
        width: 28%;
        margin: 5px;
        background-color: #3498db;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .modal-content .button-container {
        display: flex;
        justify-content: space-around; 
        width: 100%;
    }
    
}
